body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    margin: 0;
}

main{
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p5canvas{
    border: 8px solid transparent;
    border-radius: 50px 12px 50px  12px ;
    z-index: -1;
}

#hud{
    /* height and width equals canvas */
    height: 80vh; 
    width: 80vw;
    position: absolute;
    left: 10%;
    top: 10%;
    font-size: 48pt;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    border: 8px solid #353535;
    color: #353535;
    border-radius: 50px 12px 50px 12px;
}

#score-cointainer{
    padding: 12px 8px 0px 12px ;
    background-color: rgba(228,231,229,0.5);
    border-radius: 50px 0 40px 0;
    position: absolute;
    right: 0;
    bottom: 0;
}